#
# Environment variables for running locally with Docker Compose
#
# This is a sample file. All environment variables are commented out
# and pre-filled with the default values.
#
NODE_ENV=development
HTTP_PORT=3000

APP_BASE_URL=http://127.0.0.1:3000

GOOGLE_CLIENT_ID=random_string
GOOGLE_CLIENT_SECRET=random_string
